a{
    text-decoration: none;
    color: inherit;
}
li, li a {
    text-decoration: none;
    color: inherit;
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    height: 100%;
}
.floor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 2em;
    line-height: 26px;
    background: #F4F4F2;
    width: 32px;
    height: 32px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.floor:first-child{
    border-radius: 8px 8px 0 0;
}
.floor:last-child{
    border-radius: 0 0 8px 8px;
}
.floors-container{
  display: flex;
  width: min-content;
  height: auto;
  flex-direction: column;
  background: white;
  border-radius: 5px;
}

.active-link{
    background: black;
    color: white;
}