.main{
    display: grid;
    grid-template-columns: 6fr 4fr;
    width: 100%;
    height: 100%;
}

.main__map{
    width: 100%;
    height: 100%;
}

@media (max-width: 590px) {
    .main {
        display: flex;
        flex-basis: 0;
        flex-direction: column-reverse;
    }
    .main__map{
        width: 100%;
        height: 400px;
    }
}
