.inner{
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.outter{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}