.body{
    display: block;
    box-sizing: border-box;
}
.search{
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    background-color: #F4F4F2;
    width: 100%;
}

.searchbar{
    height: 48px;
    width: 340px;
    border-radius: 15px;
    background-color: #F4F4F2;
    padding: 0 15px;
    flex-shrink: 0;
    display: flex;
    gap: 11px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.lens{
    width: 16px;
    height: 16px;
}

.auto-complete{
    position: absolute;
    left: 0;
    top: 48px;
    background-color: #F4F4F2;
    z-index: 1;
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 10px;
    max-height: 200px;
    height: auto;
    overflow: auto;
}
.auto-complete::-webkit-scrollbar {
    width: 0;
}
.auto-complete__item{
    padding:10px;
}
.auto-complete__item:hover{
    background-color: #9D9B98;
    cursor: pointer;
    border-radius: 15px;
}
li{
    list-style: none;
}
