.institute{
    font-family:Montserrat;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width:24px;
    height:24px;
    border-radius: 100%;
    overflow: hidden; 
    padding: 2px;
}