.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.config{
    margin: 25px 0 0 0;
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.config{
    font-size: 25px;
}
.config span{
    font-weight: 500;
}

.btn{
    cursor: pointer;
    background: #242424;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 30px;
}
.btn:hover{
    background: #2c2c2c;
}