.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 200;
    background: white;
    display: flex;
    flex-direction: column;
    width: 720px;
    min-height: 700px;
    border-radius: 40px;
    animation-name: changeOpacity;
    animation-duration: 0.7s;
}
.closeBtn {
    cursor: pointer;
}
@keyframes changeOpacity {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.header {
    min-height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header p {
    margin-right: 203px;
}
.body {
    max-width: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}