.modal {
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 200;
    background: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 600px;
    min-height: 500px;
    border-radius: 30px;
    animation-name: changeOpacity;
    animation-duration: 0.5s;
}
.closeBtn {
    cursor: pointer;
}
@keyframes changeOpacity {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.header {
    margin: 20px 0 0 0;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-weight: 300;
    font-size: 40px;
    display: inline-block;
}
.children {
    min-height: 100%;
    max-width: 600px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}
.body{
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.checker{
    align-self: center;
    text-align: center;
}
.title{
    font-size: 30px;
    margin-bottom: 30px;
}
.btn{
    cursor: pointer;
    background: #242424;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover{
    background: #2c2c2c;
}