.modal {
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 200;
    background: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 500px;
    border-radius: 40px;
    animation-name: changeOpacity;
    animation-duration: 0.7s;
}
.closeBtn {
    cursor: pointer;
}
@keyframes changeOpacity {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.header {
    margin: 20px 0 0 0;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-weight: 300;
    font-size: 40px;
    display: inline-block;
}
.body {
    min-height: 100%;
    max-width: 600px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}